<br><br>
<%= github_url('qagushaq', 'TestGuru') %>
<%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %></br>
<span>Author: Lukashevich Alexey</span></br>
<span><%= current_year %> year</span>
