div.progress-bar{
 background-color: var(--success) ;
 border-top-right-radius: 10px 50%;
 border-bottom-right-radius: 10px 50%;
 border-top-left-radius: 10px 50%;
 border-bottom-left-radius: 10px 50%;
}
