// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.success_test{
  color: green;
}

.failed_test{
  color: red;
}

.btn_next {
   cursor: pointer;
   border: 1px solid white;
   padding: 10px;
   width:100%;
   background-color: rgb(114, 189, 114);
   color: white;
 }
 .btn_next_unactive {
   background-color: rgb(132, 134, 132);
   cursor: default;
 }
