<h1> Tricky Tests </h1>

<hr>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Author ID</th>
    <th>Count questions</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th">Actions </th>
  </tr>

<%= render @tests %>
<table>
